
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="">
            Big Data
          </a>
        </li>
        <li>
          <a href="">
            DeepLearning
          </a>
        </li>
        <li>
          <a href="">
            Ingénierie de connaissance
          </a>
        </li>
        <li>
          <a href="">
            Angular/JS
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Réalisé par : Raoui Zainab, Debaji Imane , Bouzadi Chaimaa , Charid Basma 
    </div>
  </div>
</footer>
